<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

    </head>
    <body>
        <div class="cabecalho">
            <h1>Bem vindo ao <%= title %></h1>
        </div>
        <div class="corpo">
            <h3>Escolha uma sala:</h3>
            <ul>
                <li><a href="/salaZero">Sala 0</a></li>
                <li><a href="/salaUm">Sala 1</a></li>
                <li><a href="/salaDois">Sala 2</a></li>
                <li><a href="/salaTres">Sala 3</a></li>
                <li><a href="/salaQuatro">Sala 4</a></li>
            </ul>
        </div>
    </body>
</html>
